@import "~src/assets/scss/variables";

.header {
    background-color: $white;
    box-shadow: $shadow;
    height: 56px;
    position: relative;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    &--vivareal {
        background-color: $blue-vivareal;
    }

    &__logo-zap {
        height: 32px;
    }

    &__logo-vivareal {
        height: 24px;
    }
}

