@import "~src/assets/scss/variables";

.header {
    background-color: $white;
    box-shadow: $shadow;
    position: relative;

    &--vivareal {
        background-color: $blue-vivareal;
    }

    &__logo-zap {
        height: 32px;
    }

    &__logo-vivareal {
        height: 24px;
    }

    .u-container-sm {
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 $space-2;
    }

    .button-back {
        position: absolute;
        left: $space-2;
    }
}
