.header {
    background-color: #fff;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 24%);
    height: 56px;
    z-index: 2;
    padding: 0 16px;
    display: flex;
    align-items: center;

    &__vivareal {
        background-color: #1190cd;
        justify-content: center;
    }
}

.logo-zap {
    height: 32px;
}

.logo-vivareal {
    height: 24px;
}
