<header class="header" [ngClass]="{'header--vivareal': !isZapImoveis}">
    <div class="u-container-sm">
        <app-button-round class="button-back" (clicked)="onClickButtonBack()"></app-button-round>

        <ng-container *ngIf="isZapImoveis; else isVivareal">
            <img src="assets/img/zap-logo.svg" alt="Zap imóveis" class="header__logo-zap" />
        </ng-container>
        <ng-template #isVivareal>
            <img src="assets/img/vivareal-logo.svg" alt="Viva real imóveis" class="header__logo-vivareal" />
        </ng-template>
    </div>
</header>
