// GENERAL
$font: "Nunito Sans", sans-serif;
$space-1: 8px;
$space-2: 16px;
$space-3: 24px;
$space-4: 32px;
$space-5: 40px;
$shadow: 0 2px 8px 0 rgb(0 0 0 / 24%);

// COLORS
$primary: #406367;
$gray: #7f9799;
$green-ligth: #4fbfa5;
$white: #fff;
$white-smoke: #f2f4f5;
$blue-vivareal: #1190cd;
$black: #000;
$black-40: rgb(0 0 0 / 40%);

// FONTS SIZES - reference http://www.standardista.com/px-to-rem-conversion-if-root-font-size-is-16px/
$font-11: 0.6875rem;
$font-13: 0.8125rem;
$font-14: 0.875rem;
$font-16: 1rem;
$font-20: 1.25rem;
$font-24: 1.5rem;
$font-26: 1.625rem;

$container-md: 1000px;

// Break points
$breakpointsList: (
    "phone-small": 360px,
    "phone": 400px,
    "phone-wide": 480px,
    "phablet": 560px,
    "tablet-small": 600px,
    "tablet": 768px,
    "tablet-wide": 1000px,
    "desktop": 1200px,
    "desktop-wide": 1440px,
    "desktop-wide-md": 1600px,
    "desktop-wide-lg": 1920px,
);

@mixin mq($width, $type: min) {
    @if map_has_key($breakpointsList, $width) {
        $width: map_get($breakpointsList, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}
