$font: "Nunito Sans", sans-serif;
$space: 16px;
$shadow: 0 2px 8px 0 rgb(0 0 0 / 24%);

// COLORS
$gray: #7f9799;
$green-dark: #406367;
$green-ligth: #4fbfa5;
$white: #fff;
$white-smoke: #f2f4f5;
$blue-vivareal: #1190cd;
$black: #000;
$black-40: rgb(0 0 0 / 40%);

// SIZES - reference http://www.standardista.com/px-to-rem-conversion-if-root-font-size-is-16px/
$size-11: 0.6875rem;
$size-13: 0.8125rem;
$size-14: 0.875rem;
$size-16: 1rem;
$size-20: 1.25rem;
$size-26: 1.625rem;
