@import "~src/assets/scss/variables";

.page {
    background-color: $white-smoke;
}

.container {
    margin: auto;
    padding: $space;

    &__row {
        margin: $space 0;
        list-style: none;
    }
}

