<ul>
    <li *ngFor="let property of properties; let i = index">
        <app-gallery [photos]="property.images"></app-gallery>

        <div class="body">
            <ng-container *ngIf="property.pricingInfos.businessType === 'SALE'">
                <strong class="price">
                    {{property.pricingInfos.price | currency}}
                </strong>

                <span class="businessType">
                    Venda
                </span>

            </ng-container>

            <ng-container *ngIf="property.pricingInfos.businessType === 'RENTAL'">
                <p class="price">
                    {{property.pricingInfos.price | currency}}
                </p>

                <span class="businessType">
                    Aluguel
                </span>

                <p class="condominio">
                    Condominio:
                    <strong>
                        {{property.pricingInfos.monthlyCondoFee | currency}}
                    </strong>
                </p>
            </ng-container>

            <p *ngIf="property.address.city" class="usableAreas">
                <img src="assets/img/icon-map.svg" alt="Ícone de localização" width="16" height="16">
                {{property.address.city}}, {{property.address.neighborhood}}
            </p>

            <p *ngIf="property.usableAreas" class="usableAreas">
                <!-- TO DO - alterar essa imagem -->
                <img src="assets/img/icon-area.svg" alt="Ícone de metragem do imóvel" width="16" height="16">
                {{property.usableAreas}} m²
            </p>
        </div>
    </li>
</ul>


<!--
    Detalhes
    - data da postagem: <strong>{{property.updatedAt | date:'dd MMMM HH:mm'}}</strong><br>
    - BEM SCSS
-->
