@import "~src/assets/scss/variables";

.home {
    background-color: $green-ligth;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    &__title {
        font-size: $font-26;
        text-align: center;
        font-weight: normal;
        margin: $space-5 0;
        color: $white;
        max-width: 460px;

        @include mq("tablet-small") {
            margin-bottom: $space-2;
        }
    }

    &__button {
        margin-bottom: 24px;

        &__imgLogo {
            height: 30px;
        }

        @include mq("tablet-small") {
            margin: $space-4 auto 0;
        }
    }
}
