<section class="home">
    <img src="assets/img/grupo-zap-logo.png" alt="Logo Grupo Zap">

    <h1 class="home__title">
        O Grupo ZAP é a solução completa para mercado imobiliário
    </h1>

    <a routerLink="empresa/zap-imoveis" class="home__button">
        <img src="assets/img/zap-logo.svg" alt="Logo Zap imóveis" class="home__button__imgLogo">
    </a>

    <a routerLink="empresa/viva-real" class="home__button">
        <img src="assets/img/vivareal-logo-blue.svg" alt="Logo Viva real" class="home__button__imgLogo">
    </a>

</section>
