@import "~src/assets/scss/variables";

.button-back {
    position: absolute;
    left: $space-2;
    top: $space-2;
    z-index: 2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    width: 34px;
    background: rgba($white-smoke, 0.8);

    @include mq("tablet-wide") {
        left: $space-4;
        top: $space-4;
    }
}

.page-property {
    position: relative;
    max-width: 1024px;
    margin: 0 auto;

    @include mq("tablet-wide") {
        display: flex;
        padding: $space-2;
    }

    app-gallery,
    &__col {
        @include mq("tablet-wide") {
            width: 50%;
            margin: 0;
        }
    }

    &__col {
        padding: 0 $space-2;

        @include mq("tablet-wide") {
            padding: $space-2;
        }
    }
}

.section {
    position: relative;
    border-top: 1px solid $white-smoke;
    padding: $space-2 0;
}

.property {
    border-top: none;

    &__price {
        font-size: $size-26;
        font-weight: bold;
    }

    &__businessType {
        font-size: $size-11;
        color: $gray;
    }

    &__monthly-condo-fee {
        font-size: $size-13;
    }

    // TO DO - criar componente
    &__address {
        font-size: $size-11;
        line-height: $size-14;
        color: $green-dark;
        display: flex;
        align-items: center;
        margin-top: 8px;

        img {
            margin-right: 4px;
        }
    }

    &__published {
        color: $black-40;
    }
}

.details {
    &__title {
        font-size: $size-16;
        margin-bottom: 12px;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: $space-2;
    }

    &__item {
        font-size: $size-14;
        color: $green-dark;
        display: flex;
        align-items: center;

        &__icon {
            width: 34px;
            height: 34px;
            border-radius: 50%;
            background-color: $white-smoke;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 8px;

            img {
                width: 22px;
            }
        }
    }
}

.pricingInfo {
    &__item {
        font-size: $size-14;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $green-dark;

        strong {
            color: $black;
        }
    }
}


// override component
:host ::ng-deep  {
    .page-property .gallery {
        height: 400px;
    }
  }
