@import "~src/assets/scss/variables";

.button-back {
    position: absolute;
    left: $space-2;
    top: $space-2;
    z-index: 2;

    @include mq("tablet-wide") {
        display: none;
    }
}

.page-property {
    position: relative;
    max-width: $container-md;
    margin: 0 auto;

    @include mq("tablet-wide") {
        display: flex;
        padding: $space-2;
    }

    app-gallery,
    &__col {
        @include mq("tablet-wide") {
            width: 50%;
            margin: 0;
        }
    }

    &__col {
        padding: 0 $space-2;

        @include mq("tablet-wide") {
            padding: $space-2;
        }
    }
}

.section {
    position: relative;
    border-top: 1px solid $white-smoke;
    padding: $space-2 0;
}

.property {
    border-top: none;

    &__price {
        font-size: $font-26;
        font-weight: bold;
    }

    &__monthly-condo-fee {
        font-size: $font-13;
    }

    // TO DO - criar componente
    &__address {
        font-size: $font-11;
        line-height: $font-14;
        color: $green-dark;
        display: flex;
        align-items: center;
        margin-top: 8px;

        img {
            margin-right: 4px;
        }
    }

    &__published {
        color: $black-40;
    }
}

.details {
    &__title {
        font-size: $font-16;
        margin-bottom: 12px;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: $space-2;
    }

    &__item {
        font-size: $font-14;
        color: $green-dark;
        display: flex;
        align-items: center;

        &__icon {
            width: 34px;
            height: 34px;
            border-radius: 50%;
            background-color: $white-smoke;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 8px;

            img {
                width: 22px;
            }
        }
    }
}

.pricingInfo {
    &__item {
        font-size: $font-14;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $green-dark;

        strong {
            color: $black;
        }
    }
}

.propertiesSimilar {
    background-color: $white-smoke;
    padding: $space-3 0;
    margin-top: $space-3;

    &__content,
    &__title {
        margin: 0 auto $space-1;
        max-width: $container-md;
        padding: 0 $space-2;
    }

    &__row {
        margin-bottom: $space-3;
        list-style: none;
    }
}

// override component
:host ::ng-deep {
    .page-property .gallery {
        height: 400px;
    }

    .header {
        @include mq("tablet-wide", max) {
            display: none;
        }
    }
}
