<div class="card-info">
    <app-gallery [photos]="images">
    </app-gallery>

    <div class="card-info__body">
        <app-business-type [name]="businessType"></app-business-type>

        <h2 class="card-info__price">
            {{price | currency}}
        </h2>

        <p class="card-info__monthly-condo-fee" *ngIf="+monthlyCondoFee">
            Condominio:
            <strong>
                {{monthlyCondoFee | currency}}
            </strong>
        </p>

        <ul class="card-info__detail" *ngIf="address?.city || usableAreas">
            <li *ngIf="address?.city">
                <app-info-with-icon
                    icon="assets/img/icon-map.svg"
                    alt="Ícone de localização"
                    [description]="address.city + ', ' + address.neighborhood">
                </app-info-with-icon>
            </li>

            <li *ngIf="usableAreas">
                <app-info-with-icon
                    icon="assets/img/icon-area.svg"
                    alt="Ícone de metragem do imóvel"
                    [description]="usableAreas + ' m²'">
                </app-info-with-icon>
            </li>
        </ul>
    </div>
</div>
