@import "~src/assets/scss/variables";

.card-info {
    background-color: $white;
    border-radius: 4px;
    list-style: none;
    overflow: hidden;

    app-gallery {
        @include mq("tablet-small") {
            width: 50%;
            display: inline-block;
        }
    }

    @include mq("tablet-small") {
        display: flex;
    }

    &__body {
        color: $black;
        padding: $space-2;
        position: relative;

        @include mq("tablet-small") {
            width: 50%;
            display: flex;
            flex-direction: column;
        }
    }

    &__price {
        font-size: $font-20;
        font-weight: bold;

        @include mq("tablet-small") {
            font-size: $font-24;
        }
    }

    &__monthly-condo-fee {
        font-size: $font-13;

        @include mq("tablet-small") {
            font-size: $font-14;
            margin: 4px 0 auto;
        }
    }

    &__detail {
        @include mq("tablet-small") {
            margin-top: auto;
        }
    }
}
