<section class="features">
    <h2 class="features__title">
        Características
    </h2>
    <ul class="features__list">

        <li class="features__item">
            <app-info-with-icon
                type="round"
                icon="assets/img/icon-area.svg"
                [description]="property.usableAreas + ' m²'">
            </app-info-with-icon>

        </li>

        <li class="features__item">
            <app-info-with-icon
                type="round"
                icon="assets/img/icon-bathroom.svg"
                [description]="property.bathrooms | plural: 'Banheiro'">
            </app-info-with-icon>
        </li>

        <li class="features__item">
            <app-info-with-icon
                type="round"
                icon="assets/img/icon-bed.svg"
                [description]="property.bedrooms | plural: 'Quarto'">
            </app-info-with-icon>
        </li>

        <li class="features__item">
            <app-info-with-icon
                type="round"
                icon="assets/img/icon-car.svg"
                [description]="property.parkingSpaces | plural: 'Vaga'">
            </app-info-with-icon>
        </li>

    </ul>
</section>
