@import "~ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";

// TO DO - criar variaveis SCSS

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f4f5;
    font-family: "Nunito Sans", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

// CUSTOM OWL
.owl-theme {
    .owl-item {
        position: relative;
    }

    .owl-nav.disabled {
        + .owl-dots {
            position: absolute;
            inset: 0;
            top: auto;
            display: flex;
            justify-content: center;

            .owl-dot {
                padding: 8px 4px;

                span {
                    background: rgb(138 162 164 / 40%);
                    transition: background-color 0.2s ease;
                    width: 8px;
                    height: 8px;
                    margin: 0;
                }

                &.active span,
                &:hover span {
                    background: #fff;
                }
            }
        }
    }
}
