@import "~src/assets/scss/variables";
@import "~ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";

// TO DO - criar variaveis SCSS

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62,5%;
}

body {
    font-family: $font;
    font-size: $size-16;
    color: $black;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

// CUSTOM COMPONENTS
.owl-theme {
    .owl-item {
        position: relative;
    }

    .owl-nav.disabled {
        + .owl-dots {
            position: absolute;
            inset: 0;
            top: auto;
            display: flex;
            justify-content: center;

            .owl-dot {
                padding: 8px 4px;

                span {
                    background: rgba($white-smoke, 0.4);
                    transition: background-color 0.2s ease;
                    width: 8px;
                    height: 8px;
                    margin: 0;
                }

                &.active span,
                &:hover span {
                    background: $white;
                }
            }
        }
    }
}

$button-size: 34px;

ul.ngx-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-bottom: 16px;

    li {
        &.pagination-next,
        &.pagination-previous {
            border: 1px solid $green-dark;
            border-radius: 4px;
            display: inline-flex;

            &.disabled {
                opacity: 0;
            }

            > a,
            > span {
                background: url("./assets/img/icon-arrow-left.svg") no-repeat center;
                background-size: 20px;
                width: $button-size;
                height: $button-size;
                display: inline-block;
            }
        }

        &.pagination-next {
            > a,
            > span {
                transform: rotate(180deg);
            }
        }

        // Reset arrow
        &.pagination-previous a,
        &.pagination-next a,
        &.pagination-next,
        &.pagination-previous {
            &::after,
            &::before,
            &.disabled {
                content: none !important;
                margin: 0;
                padding: 0;
            }
        }
    }

    li {
        a,
        button,
        .show-for-sr + span {
            width: $button-size;
            height: $button-size;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &.current {
            padding: 0;
            background: none;

            .show-for-sr + span {
                background-color: $green-dark;
                border-radius: 50%;
            }
        }
    }
}
