ul {
    max-width: 300px;
    margin: auto;
    padding: 16px;

    li {
        background-color: #fff;
        padding: 16px;
        margin: 12px 0;
        border: 1px solid #ddd;
        border-radius: 4px;
        list-style: none;
    }
}
